[submodule "contrib/rtl-sdr"]
	path = contrib/rtl-sdr
	url = git://git.osmocom.org/rtl-sdr.git
[submodule "contrib/libuv"]
	path = contrib/libuv
	url = https://github.com/libuv/libuv.git
[submodule "contrib/iperf"]
	path = contrib/iperf
	url = https://github.com/esnet/iperf.git
[submodule "contrib/miruo"]
	path = contrib/miruo
	url = https://github.com/KLab/miruo.git
