/dts-v1/;

#include <dt-bindings/gpio/tegra-gpio.h>
#include "rt3050.dtsi"

/ {
	compatible = "WLR300", "ralink,rt3050-soc";
	model = "Corega WLR300";

	cfi@1f000000 {
		compatible = "cfi-flash";
		reg = <0x1f000000 0x800000>;
		bank-width = <2>;
		device-width = <2>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "u-boot";
			reg = <0x0 0x30000>;
			read-only;
		};

		partition@30000 {
			label = "u-boot-env";
			reg = <0x30000 0x10000>;
			read-only;
		};

		factory: partition@40000 {
			label = "factory";
			reg = <0x40000 0x10000>;
			read-only;
		};

		partition@50000 {
			label = "kernel";
			reg = <0x50000 0x120000>;
		};

		partition@160000 {
			label = "rootfs";
			reg = <0x170000 0x690000>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		status {
			label = "status";
			gpios = <&gpio0 14 0>;
		};

		led1 {
			label = "led1";
			gpios = <&gpio0 11 0>;
		};

		led2 {
			label = "led2";
			gpios = <&gpio0 9 1>;
		};

		led3 {
			label = "led3";
			gpios = <&gpio0 12 1>;
		};

	};
	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <20>;

		reset {
			label = "reset";
			gpios = <&gpio0 10 1>;
			linux,code = <0x198>;
		};

	};
};

&pinctrl {
	state_default: pinctrl0 {
		gpio {
			ralink,group = "i2c", "jtag", "uartf", "rgmii", "mdio";
			ralink,function = "gpio";
		};

	};
};

&ethernet {
//	mtd-mac-address = <&factory 0x28>;
};

&esw {
	mediatek,portmap = <0x2f>;
};

&wmac {
//	ralink,mtd-eeprom = <&factory 0>;
};

&otg {
	status = "okay";
};

/*

&spi1 {
	status = "okay";
	cs-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
	non-flash;
	spigen@0 {
		compatible = "freebsd,spigen";
		spi-max-frequency = <10000000>;
		status = "okay";
	};
};

*/
