/dts-v1/;

/* This module like Sitecom WLR-6000. But WLR-6000 use PCI chip for 2.4G WiFi. */

#include "rt3883.dtsi"

/ {
	compatible = "WN-AG450DGR", "ralink,rt3883-soc";
	model = "IOData WN-AG450DGR";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x4000000>;
	};

	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <100>;

		reset {
			label = "reset";
			gpios = <&gpio0 2 1>;
			linux,code = <0x198>;
		};

		sw2 {
			label = "sw2";
			gpios = <&gpio0 0 1>;
			linux,code = <0x211>;
		};

		sw6 {
			label = "sw6";
			gpios = <&gpio1 2 1>;
			linux,code = <0xf7>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		status {
			label = "status";
			gpios = <&gpio1 5 0>;
		};

		d20 {
			label = "d20";
			gpios = <&gpio1 6 1>;

		};

		d18 {
			label = "d18";
			gpios = <&gpio0 1 1>;
		};

		// d9 ???

	};

	// no effect at FreeBSD
	gpio_export {
		compatible = "gpio-export";
		#size-cells = <0>;

		usb {
			gpio-export,name = "usb power";
			gpio-export,output = <1>;
			gpios = <&gpio1 11 1>;
		};
	};

	mdio-bus {
		compatible = "ralink,rt2880-mdio";
		reg = <0x10100000 0x10000>;
		status = "okay";
	};
};

&spi0 {
	status = "okay";

	m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		linux,modalias = "m25p80", "mx25l6405d";
		spi-max-frequency = <40000000>;

		partition@0 {
			label = "u-boot";
			reg = <0x0 0x30000>;
			read-only;
		};

		partition@10000 {
			label = "u-boot-env";
			reg = <0x30000 0x10000>;
			read-only;
		};

		partition@20000 {
			label = "kernel";
			reg = <0x50000 0x110000>;
		};

		partition@110000 {
			label = "rootfs";
			reg = <0x160000 0x6a0000>;
		};

		partition@800000 {
			label = "upgrade";
			reg = <0x50000 0x7b0000>;
		};
	};
};

&gpio1 {
	status = "okay";
};

&pinctrl {
	state_default: pinctrl0 {
		gpio {
			ralink,group = "i2c", "jtag", "uartf", "lna a", "lna g";
			ralink,function = "gpio";
		};
	};
};

/*
&ethernet {
	mtd-mac-address = <&factory 0x28>;

	port@0 {
		phy-handle = <&phy0>;
		phy-mode = "rgmii";
	};

};
*/

&wmac {
	ralink,5ghz = <0>;
};

&ehci {
	status = "okay";
};

&ohci {
	status = "okay";
};

