#################################################################
#
#	MPD secrets file
#
# This file contains login, password pairs, called "secrets".
# Entries are used for authentication in either or both directions,
# as well as telnet console login.
#
# For example, to use the "MyLogin" secret, use this command:
#
#	set bundle authname MyLogin
#
# Each entry may have a third field containing an IP address range
# specifying the allowable address assignments for that # peer.
#
# NOTE: this file should not be readable by anyone except root!
#
# $Id: mpd.secret.sample,v 1.2 2007/01/27 13:28:44 amotin Exp $
#
#################################################################

MyLogin		MyPassword
PeerLogin	PeerPassword

fred		"fred-pw"
joe		"foobar"	192.168.1.1
bob		"\x34\"foo\n"	192.168.1.10/24
sal		"yipee"		192.168.1.254

